body{
    // background: url(../images/bg.jpg) center center fixed no-repeat;
    // background-size:cover;
    color:#fff;
    overflow-x:hidden;
}

a, a:hover{
    color: #AEBD38;
}

/* Breadcrumb */
nav{
    position: fixed;
    top:0;
    width:100%;
    .breadcrumb{
        background-color:#515161;
        border-radius:0;
    }
}

/* Table */

table.table{
    color:#68829E;
    margin: 100px 10px;
    thead{
        background-color:#68829E;
        color:#fff;
        cursor:pointer;
    }
    tbody{
        display:block;
        height:300px;
        overflow-y:scroll;
        tr{
            td{
                a{
                    display: flex;
                    align-items: center;
                    ion-icon{
                        margin-right: 0.3vw;
                        font-size:24px;
                        color:#68829E;
                        display:inline-block;
                    }
                    span{
                        display:inline-block;
                    }
                }
            }
        }
    }
    thead,tbody tr{
        display:table;
        table-layout:fixed;
        width:100%;
    }
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #515161;
    text-align:center;
    .container{
        padding-right: 15px;
        padding-left: 15px;
        .text-muted{
            color: #6c757d!important;
        }
    }
}